{% extends "OpenBench/base.html" %}

{% load mytags %}

{% block content %}

<style>

    :root {
      --eloNeedleRotation: 0deg;
      --llrNeedleRotation: 0deg;
      --lowerPercent: 10%;
      --upperPercent: 10%;
      --eloAlignment: 105px;
      --llrAlignment: 105px;
    }

    .orangeDisplay {
      width: 150px;
      height: 150px;
      margin-top: 25px;
      margin-left: 25px;
      margin-right: 25px;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      border: solid 25px #BB4400;
      transform: rotate(-136deg);
      position: absolute;
      --mask: 
          conic-gradient(red 75%, transparent 0%);
      -webkit-mask: var(--mask);
          mask: var(--mask)
    }

    .colorDisplay {
      height: 200px;
      width: 200px;
      margin-top: 25px;
      margin-left: 25px;
      margin-right: 25px;
      border-radius: 50%;
      display: inline-block;
      background-image: -webkit-linear-gradient(left, darkred, darkred 50%, darkgreen 50%, darkgreen 100%);
      position: absolute;
    }

    .displayOutline {
      height: 250px;
      width: 250px;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 25px;
      border-radius: 50%;
      display: inline-block;
      background-image: radial-gradient(transparent 56%, grey 56%, black 56%, grey 72%, transparent 72%);
      outline: 1px solid white;
      position: absolute;
    }

    .smallMarker {
      width: 3px; 
      height: 120px;
      margin-top: 5px;
      margin-left: 123px;
      display: inline-block;
      background-image: -webkit-linear-gradient(top, #ccb8b8, #ccb8b8 22%, transparent 9%, transparent 100%);
      transform-origin: bottom;
      transform: rotate(var(--rotation));
      position: absolute;
    }

    .bigMarker {
      width: 5px; 
      height: 119px;
      margin-top: 5px;
      margin-left: 122.5px;
      display: inline-block;
      background: #ccb8b8;
      transform-origin: bottom center;
      transform: rotate(var(--rotation));
      position: absolute;
    }

    .eloNeedle {
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 100px solid #FFAE03;
      opacity: 80%;
      margin-top: 25px;
      margin-left: 120.5px;
      background-color: transparent;
      transform-origin: bottom;
      transition: all 1s ease-in-out;
      transform: rotate(var(--eloNeedleRotation));
      display: inline-block;
      position: absolute;
    }

    .llrNeedle {
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 100px solid #FFAE03;
      opacity: 80%;
      margin-top: 25px;
      margin-left: 120.5px;
      background-color: transparent;
      transform-origin: bottom;
      transition: all 1s ease-in-out;
      transform: rotate(var(--llrNeedleRotation));
      display: inline-block;
      position: absolute;
    }

    .needleHolder {
      height: 35px;
      width: 35px;
      margin-top: 110px;
      margin-left: 109px;
      margin-right: 25px;
      border-radius: 50%;
      background-color: #006494;
      display: inline-block;
      position: absolute;
    }


    /* https://stackoverflow.com/a/13059412 */

    .coverGreen {
        width: 150px;
        height: 150px;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        border: solid 25px black;
        transform: rotate(180deg) scaleX(-1);
        position: absolute;
        --mask: 
            conic-gradient(red var(--upperPercent, 10%), transparent 0%);
        -webkit-mask: var(--mask);
            mask: var(--mask)
    }

    .coverRed {
        width: 150px;
        height: 150px;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        border-radius: 50%;
        border: solid 25px black;
        transform: rotate(180deg);
        display: inline-block;
        position: absolute;
        --mask: 
            conic-gradient(red var(--lowerPercent, 10%), transparent 0%);
        -webkit-mask: var(--mask);
            mask: var(--mask)
    }

    .coverGreenLLR {
        width: 150px;
        height: 150px;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        border-radius: 50%;
        border: solid 25px black;
        transform: rotate(180deg) scaleX(-1);
        display: inline-block;
        position: absolute;
        --mask: 
            conic-gradient(red 10%, transparent 0%);
        -webkit-mask: var(--mask);
            mask: var(--mask)
    }

    .coverRedLLR {
        width: 150px;
        height: 150px;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        border-radius: 50%;
        border: solid 25px black;
        transform: rotate(180deg);
        display: inline-block;
        position: absolute;
        --mask: 
            conic-gradient(red 10%, transparent 0%);
        -webkit-mask: var(--mask);
            mask: var(--mask)
    }

    .inner {
      height: 152px;
      width:  152px;
      margin-top: 49px;
      margin-left: 49px;
      margin-right: 25px;
      border-radius: 50%;
      display: inline-block;
      background-color: black;
      position: absolute;
    }

    .eloInscription {
      color: #bebebe;
      font-family: sans-serif;
      font-size: 22px;
      display: inline-block;
      margin-left: 108px;
      margin-top: 75px;
      position: absolute;
    }

    .eloValueInscription {
      color: #bebebe;
      font-family: sans-serif;
      font-size: 20px;
      display: inline-block;
      margin-left: var(--eloAlignment);
      margin-top: 180px;
      position: absolute;
    }

    .llrValueInscription {
      color: #bebebe;
      font-family: sans-serif;
      font-size: 20px;
      display: inline-block;
      margin-left: var(--llrAlignment);
      margin-top: 180px;
      position: absolute;
    }

</style>

<div class="workload-container" style="display: none;">
    <pre class="speedometerStats" id="speedometerStats" style="display: none;">{{workload|speedometerStats}}</pre>
</div>

<script>
    var r = document.querySelector(':root');

    window.onload = function setSpeedometerStuff() {
        var argsSingle = document.getElementById('speedometerStats').innerHTML;
        var argsAr = argsSingle.split("\n");
        
        var eloNeedleRotation = argsAr[0] + "deg";
        var llrNeedleRotation = argsAr[3] + "deg";
        var lowerPercent = argsAr[1] + "%";
        var upperPercent = argsAr[2] + "%";
        var eloAlignment = "105px";
        var llrAlignment = "105px"

        if (argsAr[0] < 0) {
          eloAlignment = "100px";
        }

        if (argsAr[3] < 0) {
          llrAlignment = "100px";
        }

        r.style.setProperty('--eloNeedleRotation', eloNeedleRotation);
        r.style.setProperty('--llrNeedleRotation', llrNeedleRotation);
        r.style.setProperty('--lowerPercent', lowerPercent);
        r.style.setProperty('--upperPercent', upperPercent);
        r.style.setProperty('--eloAlignment', eloAlignment);
        r.style.setProperty('--llrAlignment', llrAlignment);
        var rs = getComputedStyle(r);
    }
</script>

<div style="text-align: center;">
    <div style="position: relative; min-width: 280px; min-height: 280px;">
        <div class="colorDisplay"></div>
        <div class="orangeDisplay"></div>
        <div class="coverRedLLR"></div>
        <div class="coverGreenLLR"></div>
        <div style="--rotation: 0deg" class="bigMarker"></div>
        <div style="--rotation: 68deg" class="bigMarker"></div>
        <div style="--rotation: 136deg" class="bigMarker"></div>
        <div style="--rotation: 293deg" class="bigMarker"></div>
        <div style="--rotation: 224deg" class="bigMarker"></div>
        <div style="--rotation: 17deg" class="smallMarker"></div>
        <div style="--rotation: 34deg" class="smallMarker"></div>
        <div style="--rotation: 51deg" class="smallMarker"></div>
        <div style="--rotation: 85deg" class="smallMarker"></div>
        <div style="--rotation: 102deg" class="smallMarker"></div>
        <div style="--rotation: 119deg" class="smallMarker"></div>
        <div style="--rotation: 343deg" class="smallMarker"></div>
        <div style="--rotation: 326deg" class="smallMarker"></div>
        <div style="--rotation: 309deg" class="smallMarker"></div>
        <div style="--rotation: 275deg" class="smallMarker"></div>
        <div style="--rotation: 258deg" class="smallMarker"></div>
        <div style="--rotation: 241deg" class="smallMarker"></div>
        <div class="inner"></div>
        <div class="displayOutline"></div>
        <div class="eloInscription">LLR</div>
        <div class="llrValueInscription">{{workload|llrBlock|linebreaksbr}}</div>
        <div class="llrNeedle"></div>
        <div class="needleHolder"></div>
    </div>

    <div style="position: relative;">
      <div class="colorDisplay"></div>
      <div class="coverRed"></div>
      <div class="coverGreen"></div>
      <div style="--rotation: 0deg" class="bigMarker"></div>
      <div style="--rotation: 68deg" class="bigMarker"></div>
      <div style="--rotation: 136deg" class="bigMarker"></div>
      <div style="--rotation: 293deg" class="bigMarker"></div>
      <div style="--rotation: 224deg" class="bigMarker"></div>
      <div style="--rotation: 17deg" class="smallMarker"></div>
      <div style="--rotation: 34deg" class="smallMarker"></div>
      <div style="--rotation: 51deg" class="smallMarker"></div>
      <div style="--rotation: 85deg" class="smallMarker"></div>
      <div style="--rotation: 102deg" class="smallMarker"></div>
      <div style="--rotation: 119deg" class="smallMarker"></div>
      <div style="--rotation: 343deg" class="smallMarker"></div>
      <div style="--rotation: 326deg" class="smallMarker"></div>
      <div style="--rotation: 309deg" class="smallMarker"></div>
      <div style="--rotation: 275deg" class="smallMarker"></div>
      <div style="--rotation: 258deg" class="smallMarker"></div>
      <div style="--rotation: 241deg" class="smallMarker"></div>
      <div class="inner"></div>
      <div class="displayOutline"></div>
      <div class="eloInscription">Elo</div>
      <div class="eloValueInscription">{{workload|tinyStatBlock|linebreaksbr}}</div>
      <div class="eloNeedle"></div>
      <div class="needleHolder"></div>
  </div>
</div>

{% endblock %}